---
import Task from "./Task.astro";
---

<div>
  <form>
    <Task taskDescription="Go Shoping" />
    <Task taskDescription="Refactor Backend"/>
    <Task taskDescription="Add new feature to app"/>
	<Task taskDescription='Todo1'
  </form>
</div>
